.header {
    color: black;
    background-image: url("https://images8.alphacoders.com/442/thumb-1920-442432.jpg");
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 30px;
}
  
.instructions {
    font-weight: bold;
}